*{
    margin: 0;/*anulacion universal*/
    padding: 0;
    text-decoration: none
}
nav{
  width: 100%;
  height: 100px;
 background-color: #F4ACB7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inicio{
    width: 20%;
    height: 70px;
    margin: auto;
    margin-top: 2%;
    
    color: #FCFBFB;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
}
nav .inicio:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton{
    width: 20%;
    height: 70px;
    margin: auto;
    margin-top: 2%;
    
    color: #FCFBFB;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
}
nav .boton:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton2{
  width: 20%;
  height: 70px;
  margin:  auto;
  margin-top: 2%;

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  text-align: center;
}
nav .boton2:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton3{
  width: 20%;
  height: 70px;
  margin-right: 1%;
  margin:  auto;
  margin-top: 2%;

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  text-align: center;
}
 .boton3:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
header{
    width: 100%;
    height: 100px;
    background-color: #FFCAD4;
    margin-top: 2%;
}
.titulo_principal{
    color: aliceblue;/*color de letra*/
    font-size: 40px;/*tamaño de letra*/
    padding-top: 2%;/*separacion de arriba hacia abajo*/
    text-align: center;/*indica como queremos aliniar el texto*/
    font-family: 'Bree Serif', serif;/*tipo de letra*/
}

/*------------------------RESPONSIVE--------------------*/
@media only screen and (max-width:767px){
 header{
    width: 100%;
    height: 70px;
    background-color: #FFCAD4;
    margin-top: 2%;
}
.titulo_principal{
    color: aliceblue;/*color de letra*/
    font-size: 25px;/*tamaño de letra*/
    padding-top: 2%;/*separacion de arriba hacia abajo*/
    text-align: center;/*indica como queremos aliniar el texto*/
    font-family: 'Bree Serif', serif;/*tipo de letra*/
}
    nav{
  width: 100%;
  height: 60px;
  background-color: #F4ACB7;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}      
.inicio{
  width: 45%;
  height: 80px;
  margin:  auto;
  margin-top: 4%;
  margin-left: -5px;    

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-align: center;
}
 nav.inicio:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton{
  width: 45%;
  height: 80px;
  margin:  auto;
  margin-top: 4%;

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-align: center;
}
nav .boton:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton2{
  width: 30%;
  height: 80px;
  margin:  auto;
  margin-right: 5%;    
  margin-top: 2%;

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-align: center;
}
nav .boton2:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
.boton3{
  width: 45%;
  height: 80px;
  margin-right: 10%;
  margin:  auto;
  margin-top: 4%;

  color: #FCFBFB;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-align: center;
}
nav .boton3:hover{/*LE AGREGA SOMBRA A LOS OBJETOS */
  -webkit-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
box-shadow: 3px 44px 21px -1px rgba(0,0,0,0.75);
}
}